<div class="card" ng-class="$first ? 'card-outline-info' : ''">
    <div class="card-header" ng-class="$first ? 'card-info' : ''">
        {{ forecast.date | CustomDate }}
    </div>
    <div class="card-block">
        <h4 class="card-title"><img ng-src="{{ forecast.day.condition.icon }}" alt=""> {{ forecast.day.avgtemp_c | temperature }} {{ forecast.day.condition.text }}</h4>
        <p class="card-text">
            High: {{ forecast.day.maxtemp_c | temperature }} ~ Low: {{ forecast.day.mintemp_c | temperature }}
        </p>
    </div>
    <div class="card-footer text-muted">
        Sunrise at {{ forecast.astro.sunrise }} and sunset at {{ forecast.astro.sunset }}
    </div>
</div>